
<h1>Listing articles</h1>

<%= link_to 'Neuer Artikel', new_article_path %>

<table>
  <tr>
    <th>Titel</th>
    <th>Inhalt</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Anzeigen', article_path(article) %></td>
      <td><%= link_to 'Bearbeiten', edit_article_path(article) %></td>
      <td><%= link_to 'Loeschen', article_path(article),
              method: :delete,
              data: { confirm: 'Sind Sie sicher?' } %></td>
    </tr>
  <% end %>
</table>
