<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Loesche Kommentar', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Sind Sie sicher?' } %>
</p>
